<html>
<div id="firstPage">
  <center>
    <form>
      <div>File: <input id="file" type="text" name="file"></div>
      <div> fileURL: <input id="fileURL" type="text" name="fileURL"> </div>
      <div> saveURL: <input id="saveURL" type="text" name="saveURL"> </div>
      <input id="Button" type="submit" value="Process">
    </form>
  </center>
</div>

<script type="text/javascript">



    $('#Button').click(function() {
        File = $('#file').val()
        fileURL = $('#fileURL').val()
        saveURL = $('#saveURL').val()


        if (File == ""){
            json_request("/edit/load", { fileURL: fileURL, saveURL: saveURL }, function(data) { return handle_response(data, username); }, function(err) { alert('error occurred on request'); });
            return false;
        }
        else{
            json_request("/edit/load", { file: file, saveURL: saveURL }, function(data) { return handle_response(data, username); }, function(err) { alert('error occurred on request'); });
            return false;
        }
    });

    function json_request(page, dict, success, failure) {
        $.ajax({
            type: 'GET',
            url: page,
            data: JSON.stringify(dict),
            contentType: "application/json",
            dataType: "json",
            success: success,
            error: failure
        });
    }



</script>
</html>