<html>
<div id="firstPage">
  <center>
    <form action = "/edit/load/" method = "GET">
      <div>File: <textarea id="file" type="text" name="file" col="25" rows= "25">
      </textarea>
  	  </div>
      <div> fileURL: <input id="fileURL" type="text" name="fileURL"> </div>
      <div> saveURL: <input id="saveURL" type="text" name="saveURL"> </div>
      <input id="Button" type="submit" value="Process">

    </form>
  </center>
</div>

<script type="text/javascript">

</script>
</html>
