// Place all the styles related to the edit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gorilla-editor {
    float: left;

    word-wrap: break-word;
}

.gorilla-container.viewing {
  width: 48%;
}

.gorilla-container.editing {
  width: 100%;
}

#main_editor.viewing {
  float: left;
}

#autosaved_editor.viewing {
  float: right;
}

.gorilla-container {
    font-family: monospace;
    line-height: 16px;
    letter-spacing: 0px;
    font-size: 13px;
    width: 100%;
    float: left;

    .editor {
        float: left;
        width: 93%;
    }
    .numbers {
        float: left;
        text-align: right;
        width: 7%;
    }
}

#hover-box {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    float: left;
}

#positionData {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    height: 30px;
}
