// Place all the styles related to the edit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gorilla-editor {
    float: left;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: monospace;
    word-wrap: break-word;
    line-height: 16px;
}

.gorilla-editor.viewing {
  width: 40%;
}

.gorilla-editor.editing {
  width: 90%;
}

#autosavechoice {
  clear: both;
}
