DIV#user_nav {
  padding: 5px;
  float: right;
  text-align: right;
}

#users_form {
  width: 500px;
  margin: 0px auto;
}

#users_form INPUT {
  width: 500px;
}

#users_form H3 {
  clear: both;
}

#users_form INPUT[type=submit]{
  width: auto;
  float: right;
}

#users_form INPUT[type=checkbox] {
  width: auto;
}

#users_form A {
  float: left;
  clear: right;
  margin-right: 5px;
}
