<html>
<div id="firstPage">
  <center>
    <form action = "/features/add/" method = "POST">
      
      <div> Sequence: 
        <textarea id="sequence" 
                  type="text" 
                  name="sequence" 
                  col="150" 
                  rows= "4">
        </textarea>
  	  </div>
      <div> Name: <input id="featureName" name="featureName" type="text">
      </div>
      <div> UserID: <input id="userID" name="userID" type="text" value="1">
      </div>
      <script type="text/javascript" src="jscolor.js"></script>
      <div> Forward Color: <input class="color" value="66ff00" id="forwardColor" name="forwardColor"> </div>
      <div> Reverse Color: <input class="color" value="ff5500"  id="reverseColor" name="reverseColor"> </div>
      <input id="Button" type="submit" value="Add feature">
      

    </form>
  </center>
</div>


</html>
